### Ignorer les dépendances ###
/vendor/
node_modules/
composer.lock
package-lock.json
yarn.lock

### Ignorer le cache et les logs ###
/var/cache/
var/cache/*
/var/log/
var/log/*
/var/sessions/
var/sessions/*

### Ignorer les fichiers temporaires ###
/public/bundles/
/public/build/
/public/uploads/
/public/media/
/public/var/

### Ignorer les fichiers de configuration locaux ###
/.env.local
/.env.local.php
/.env.*.local
/.env

### Ignorer les fichiers générés ###
/phpunit.result.cache
/.phpunit.cache/
/config/jwt/private.pem
/config/jwt/public.pem
/config/secrets/
/var/backups/
/var/tmp/

### Ignorer les fichiers IDE ###
/.idea/
/.vscode/
/*.iml

### Ignorer les fichiers de build ###
/.DS_Store
/.cache/
/.out/